/* Hero Section Styles */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-color); /* Add a fallback color */
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

  
  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 2rem;
  }
  
  /* Hero Content */
  .hero-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
  }
  
  .text-content {
    flex: 1;
    transition: transform 0.5s ease-out;
  }
  
  /* Hero Title and Gradient Text */
  h1 {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }
  
  .gradient-text-1 {
    display: block;
    background: linear-gradient(to right, #38bdf8, #a855f7, #ec4899);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: shine 3s linear infinite;
  }
  
  .gradient-text-2 {
    display: block;
    background: linear-gradient(to right, #10b981, #0ea5e9);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: shine 3s linear infinite;
  }
  
  /* Slogan */
  .slogan {
    font-size: 1.5rem;
    color: #94a3b8;
    margin-bottom: 2rem;
    font-style: italic;
  }
  
  /* CTA Button */
  .cta-button {
    background: linear-gradient(to right, #3b82f6, #8b5cf6);
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.125rem;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .cta-button:hover {
    opacity: 0.9;
    transform: scale(1.05);
  }
  .map-image-wrapper {
    margin-top: 2rem;
    width: 100%;
    max-width: 500px;
    height: 550px; /* Increase the height as needed */
    /* background-color: var(--bg-color-light); */
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    padding: 2px;
  }
  
  .map-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  
  

  
  /* Keyframe for Moving Gradient */
  @keyframes shine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }
  
  @keyframes mapMove {
    0% { background-position: 0 0, 20px 20px; }
    100% { background-position: 40px 40px, 60px 60px; }
  }
  
  /* Responsive Styles */
  @media (min-width: 768px) {
    .hero .container {
      flex-direction: row;
      text-align: left;
      justify-content: space-between;
    }
  
    .hero-image {
      margin-top: 0;
      margin-left: 2rem;
    }
  }
  